<%- include('headerNoCarusel.ejs') %>

    <section class="line video-blog-section video-category-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 breadcrumb t-left">
                    <ol>
                        <li><a href="http://185.158.2.13">Home</a></li>
                        <!-- <li><a href="#">ВVideos</a></li> -->
                        <li class="active">Videos</li>
                    </ol>
                </div>

                <!-- start: main -->
                <div class="main clearfix">

                    <div class="col-md-12">
                        <h1 class="t-upper c-red">Latest Videos</h1>
                    </div>

                    <!-- start: left side-->
                    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0 t-left">

                        <!-- start: all-videos -->
                        <% allGirls.forEach(function(entry) {%>

                            <div class="all-videos">
                                <div class="col-sm-4 col-md-4 video-item wow zoomIn" data-wow-delay="0">
                                    <a href="#">
                                        <video id=<%=entry.id%> onclick="reply_click(this.id); return false;"
                                            class="lazy" loop playsinline muted autoplay style ="width : 100%;
                                            height:auto;">
                                            <!-- <source data-src="one-does-not-simply.webm" type="video/webm"> -->
                                            <source src="/video/<%=entry.id%>-preview.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                    <a href="#" class="video-title">
                                        <%=entry.name%>
                                    </a>
                                    <div class="rating-box">
                                        <div class="rating rating-4_5"></div>
                                    </div>
                                    <div class="views-info">999 views</div>
                                </div>
                                <%});%>


                                    <!-- end: all-videos -->
                            </div>

                    </div>
                    <!-- end: main -->

                    <!-- start: pagination -->
                    <div class="col-sm-12 col-md-12 pagination">
                        <ul>
                            <!-- <li><a href="#">&laquo;</a></li> -->
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- end: pagination -->

                </div>
    </section>
    <script>

        // something along that
        var vid = document.getElementsByTagName("video");
        [].forEach.call(vid, function (item) {
            item.addEventListener('mouseover', hoverVideo, false);
            item.addEventListener('mouseout', hideVideo, false);
        });

        function hoverVideo(e) {
            this.pause();
            this.currentTime = 0;
            this.play();
        }
        function hideVideo(e) {
            this.pause();
        }


        function reply_click(clicked_id) {
            const Url = "http://185.158.2.13/allvideos/";
            location.assign(Url + clicked_id);
        }

    </script>
    <%- include('footer.ejs') %>