
<%-include('headerNoCarusel.ejs') %>
	<!-- start: модальное окно для коментов-->

	<section class="blog-section video-blog-section">
		<div class="container">
			<div class="row">


				<div class="col-md-12 breadcrumb t-left">
					<ol>
						<li><a href="http://185.158.2.13">Home</a></li>
						<li><a href="http://185.158.2.13/blog">Blog</a></li>
						<li class="active"><%=json.name%></li>
					</ol>
				</div>
				
				<!-- start: main -->
				<div class="main clearfix">

					<!-- start: left side -->
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0">
					
						<!-- start: blog  -->
						<div class="blog t-left wow fadeInLeft">
							<h2><%=json.name%></h2>
							<ul class="actions">
								<li class="data-info"><%=json.date%></li>
								<li>									
									<div class="rating-box">
										<div class="rating rating-<%=json.avg%>"></div>
									</div>
								</li>
								<li class="comment-info"><%=json.messages.length%></li>
							</ul>
							<img src="/blogs/<%=json.id%>.jpg" alt="">
							<p class="simple-text"><%=json.about%></p>
					
							<ul class="soc-buttons t-right">
								<li class="face wow fadeInLeft" data-wow-delay=".6s"><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> share</a></li>
								<li class="twit wow fadeInLeft" data-wow-delay=".3s"><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> tweet</a></li>
								<li class="google wow fadeInLeft" data-wow-delay="0s"><a href="#"><i class="fa fa-google-plus fa-lg" aria-hidden="true"> google+</i></a></li>
							</ul>	
						</div>
						<!-- end: blog  -->
					
					<!-- start: comments -->
					<div class="block-default comments t-left">
						<div class="block-title">Comments (<%=json.messages.length%>)
							<div class="rating-box">
								<div class="rating rating-<%=json.avg%>"></div>
							</div>
						</div>
						<% json.messages.forEach(function(t) {%>
						<div class="comment wow fadeInLeft">
							<h3><%=t.name%></h3>
							<p class="simple-text"><%=t.message%></p>
							<div class="rating-box">
								<div class="rating rating-<%=t.star%>" ></div>
							</div>
						</div>
						<%});%>
						<!-- <div class="comment wow fadeInLeft">
							<h3>Имя</h3>
							<p class="simple-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellat nemo debitis reiciendis dolorum aliquid, consectetur nostrum! Quis repudiandae, beatae id quaerat ullam iusto sint facere repellendus, laudantium ipsa suscipit.</p>
							<div class="rating-box">
								<div class="rating rating-4"></div>
							</div>
						</div> -->
					
						<a href="#modal-1" class="main-button-2 open-modal">Add a comment</a>
					
					</div>
					<!-- end: commemnts -->
					
					</div>
					<!-- end: left side -->
					
					<!-- start: right side -->
					<div class="col-md-12 col-lg-4 no-position">
						
						<!-- start: chat-iframe-->
						<!-- <div class="chat-iframe">
							<iframe src="http://sandbox.mlight.pp.ua/vipMollyMain/chat.html" frameborder="0"></iframe>
							<a href="#modal-2" class="main-button chat-button open-modal">чат</a>
						</div> -->
						<!-- end: chat-iframe-->
						
						<!-- start: tags -->
						<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-2 block-default tags t-left wow fadeInRight">
							<p class="block-title">Tags</p>
							<a href="#" class="t3">american</a> <a href="#" class="t3">feture</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t1">dream</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t3">feture</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t3">feture</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
						</div>
						<!-- end: tags -->
					
					
					</div>
					<!-- end: right side -->

				</div>
				<!--end: main  -->


			</div>
		</section>


	<%-include('footer.ejs') %>
	<div id="modal-1" class="modal-window mfp-hide">
		<button title="Close (Esc)" type="button" class="mfp-close">×</button>
		<h1 class="c-red t-upper">Add a comment</h1>

		<form action="POST" class="comment-form" id="form">
			<div class="form-group t-left">
				<p>Name <span class="c-red">*</span></p>
					<input type="text" id="name" class="form-control" data-validation="required" data-validation-error-msg="Required field !">
			</div>
			<div class="form-group t-left">
				<p>E-mail <span class="c-red">*</span> <span class="prompt">(will not be published)</span></p>
				<input type="email" id="email" class="form-control" data-validation="email" data-validation-error-msg="Required field !">
			</div>
			<div class="form-group t-left">
				<p>Rating</p>
				<div class="rating-box">
					<div class="rating"></div>
					<div class="masks">
						<div onclick="star('1star')" class="rating-mask item-1"></div>
							<div onclick="star('2star')" class="rating-mask item-2"></div>
							<div onclick="star('3star')" class="rating-mask item-3"></div>
							<div onclick="star('4star')" class="rating-mask item-4"></div>
							<div onclick="star('5star')" class="rating-mask item-5"></div>
							<div id="stars" style="display: none;">sas</div>
							<div id="blogID" style = "display: none;" ><%=json.id%> </div>
					</div>
				</div>
			</div>
			<div class="form-group t-left">
				<p>Your comment</p>
				<textarea id="message" class="form-control" rows="10" data-validation="required" data-validation-error-msg="This field is required !"></textarea>
			</div>
			<div class="form-group t-center">
				<button type="submit" class="main-button-2">Add a comment</button>
			</div>
		</form>

	</div>
   
	<script>
		document.getElementById('form').onsubmit = function (event) {
			event.preventDefault() // prevent form from posting without JS
			var xhttp = new XMLHttpRequest(); // create new AJAX request
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					//location.reload()

					// document.getElementById("status").innerHTML = 'sent'+this.responseText+ xhttp.status;
				} else {
					//  document.getElementById("status").innerHTML = xhttp.status ;
				}
			}
			xhttp.open("POST", "http://185.158.2.13/blogmessage")
			var formData = new FormData();

		
            var today = new Date();

            var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
			formData.append('name', document.getElementById('name').value);
			formData.append('email', document.getElementById('email').value);
			formData.append('stars', document.getElementById('stars').innerHTML);
			formData.append('message', document.getElementById('message').value);
			formData.append('blogID', document.getElementById('blogID').innerHTML);
			formData.append('date', date);

			// xhttp.upload.onprogress = function(evt)
			// {
			//     if (evt.lengthComputable)
			//     {
			//         var percentComplete = parseInt((evt.loaded / evt.total) * 100);
			//         console.log("Upload: " + percentComplete + "% complete")
			//     }
			// };
			// xhttp.setRequestHeader("Content-Type", "application/json");

			xhttp.send(formData);

		}
		function star(divID) {
			let stars = document.getElementById("stars");
			if (divID == "1star")
				stars.innerHTML = 1;
			if (divID == "2star")
				stars.innerHTML = 2;
			if (divID == "3star")
				stars.innerHTML = 3;
			if (divID == "4star")
				stars.innerHTML = 4;
			if (divID == "5star")
				stars.innerHTML = 5;
		}

		function reply_click(clicked_id) {

			location.assign("http://185.158.2.13/all/" + clicked_id);
		}
	
	</script>
</body>
</html>