<%- include('header.ejs') %>
	<section class="blog-section video-blog-section line">
		<div class="container">
			<div class="row">
				<div class="col-md-12 breadcrumb t-left">
					<ol>
						<li><a href="http://185.158.2.13">Home</a></li>
						<li class="active">Blog</li>
					</ol>
				</div>				
				<!-- start: main -->
				<div class="main clearfix">

					<div class="col-md-12">
						<h1 class="t-upper c-red">Blog</h1>
					</div>				
					<!-- start: left side -->
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0">					
                        <!-- start: blog  -->
                        <% allBlogs.forEach(function(entry) {%>

						<div class="blog t-left wow fadeInLeft">
							<h2><%=entry.name%></h2>
							<ul class="actions">
								<li class="data-info"><%=entry.date%></li>
								<li>									
									<div class="rating-box">
										<div class="rating rating-<%=entry.avg%>"></div>
									</div>		
								</li>
								<li class="comment-info"><%=entry.messages.length%></li>
							</ul>
							<img src="blogs/<%=entry.id%>.jpg" alt="">
							<p class="simple-text"><%=entry.about%></p>
							<a href="#" id= <%=entry.id%> onclick="reply_click(this.id); return false;" class="main-button-2">Read More ></a>
                        </div>
                        <%});%>

						<!-- end: blog  -->
					
						<!-- start: pagination -->
						<div class="col-sm-12 col-md-12 pagination t-left">
							<div class="row">
								<ul>
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li class="active"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
						<!-- end: pagination -->
					
					</div>
					<!-- end: left side -->
					
					<!-- start: right side -->
					<div class="col-md-12 col-lg-4 no-position">
						
						<!-- start: chat-iframe-->
						<!-- <div class="chat-iframe">
							<iframe src="http://sandbox.mlight.pp.ua/vipMollyMain/chat.html" frameborder="0"></iframe>
							<a href="#modal-2" class="main-button chat-button open-modal">чат</a>
						</div> -->
						<!-- end: chat-iframe-->
						
						<!-- start: tags -->
						<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-2 block-default tags t-left wow fadeInRight">
							<p class="block-title">Tags</p>
							<a href="#" class="t3">american</a> <a href="#" class="t3">feture</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t1">dream</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t3">feture</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t3">feture</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t3">feture</a>
							<a href="#" class="t3">american</a><a href="#" class="t1">country</a><a href="#" class="t4">jobs</a><a href="#" class="t2">law</a><a href="#" class="t5">people</a><a href="#" class="t2">jobs</a><a href="#" class="t1">dream</a><a href="#" class="t5">energy</a><a href="#" class="t3">feture</a>
						</div>
						<!-- end: tags -->
					
						<!-- start: анкеты -->
						<div class="col-lg-10 col-lg-offset-2 hidden-xs hidden-sm hidden-md visible-lg profiles">
							<div class="row">
								<% allBlogs.similarGirls.forEach(function(e) {%>
								<div class="col-md-12 wow fadeInRight">
									<div class="gallery-icon">
										<img src="/uploads/<%=e.id%>-profile.jpg" alt="img">
										<div class="gallery-caption">
											<strong><%=e.name%></strong>
											<p><%=e.years%> years</p>
											<p><%=e.hobby%></p>
											<a href="#" id=<%=e.id%> onclick="reply_click_girl(this.id); return false;" class="main-button">View Profile</a>
										</div>
									</div>
								</div>
								<%});%>

						
					
							</div>
						</div>
						<!-- end: анкеты -->
					
					</div>
					<!-- end: right side -->

				</div>
				<!-- end: main -->


			</div>
		</section>

        <%- include('footer.ejs') %>

		<script>
			function reply_click(clicked_id) {
				const Url = "http://185.158.2.13/blog/";
				location.assign(Url + clicked_id);
			}
			function reply_click_girl(clicked_id) {
				location.assign("http://185.158.2.13/all/" + clicked_id);
			}
		</script>
    </body>
</html>