<%- include('headerNoCarusel.ejs') %>


	<section class="profile-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 breadcrumb t-left">
					<ol>
						<li><a href="http://185.158.2.13">Home</a></li>
						<li><a href="#">Model</a></li>
						<li class="active"><%=json.name%></li>
					</ol>
				</div>

				<!-- start: main -->
				<div class="main clearfix">


					<!-- start: left side -->
					<div class="co-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0">
						<div class="row">

							<div
								class="col-sm-7 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-0 profile-img wow fadeInLeft">
								<img src="/uploads/<%=json.id%>/profile/<%=json.id%>-profile-detail.jpg" alt="">
							</div>

							<div class="col-sm-5 col-md-4 col-lg-5 profile-descr t-left">
								<h1 class="c-red main-descr wow fadeInUp" data-wow-delay="0">
									<%=json.name%>
									<p><small> <%=json.years%> years</small></p>
									<p><small><%=json.hobby%> </small></p>
								</h1>
								<div class="body-info wow fadeInUp" data-wow-delay=".4s">
									<p>Height: <%=json.height%></p>
									<p>Weight: <%=json.weight%></p>
									<p>Chest: <%=json.cest%></p>
								</div>
								<div class="price wow fadeInUp" data-wow-delay=".8s">
									<p class="block-title">Price:</p>
									<p>Hour: <%=json.pricehour%>$</p>
									<p>Night: <%=json.pricenight%>$</p>
									<p>Day: <%=json.priceday%>$</p>
								</div>
							</div>

							<!-- <div class="col-sm-12 col-md-4 col-lg-5 t-left">
								<a href="#modal-2" class="main-button-2 chat-button-2 open-modal">открыть чат</a>
							</div> -->


							<!-- start: profile-about -->
							<div class="col-sm-12 col-md-12 block-default profile-about t-left">
								<p class="block-title">About me</p>
								<p class="simple-text"> <%=json.about%></p>

								<!-- start: gallery -->
								<div class="col-md-12 gallery">
									<div class="row">
										<!-- <div class=" col-xs-6 col-sm-4 col-md-4 wow zoomIn" data-wow-delay="0"><a
												href="/uploads/<%=json.id%>/profile/<%=json.id%>-photo1.jpg"><img
													src="/uploads/<%=json.id%>/profile/<%=json.id%>-photo1-thumb.jpg" alt="img"></a></div>
										<div class=" col-xs-6 col-sm-4 col-md-4 wow zoomIn" data-wow-delay=".2s"><a
												href="/uploads/<%=json.id%>/profile/<%=json.id%>-photo2.jpg"><img
													src="/uploads/<%=json.id%>/profile/<%=json.id%>-photo2-thumb.jpg" alt="img"></a></div>
										<div class=" col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 wow zoomIn"
											data-wow-delay=".4s"><a href="/uploads/<%=json.id%>/profile/<%=json.id%>-photo3.jpg"><img
													src="/uploads/<%=json.id%>/profile/<%=json.id%>-photo3-thumb.jpg" alt="img"></a></div> -->
													<% json.photoPath.forEach(function(e) {%>
														<a href="/uploads/<%=json.id%>/photos/<%=e%>">
														 <div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
															<div class="gallery-icon">
																<img src="/uploads/<%=json.id%>/thumbs/<%=e%>" alt="img">
														</a>
									</div>
														</div>
														<%});%>		
												</div>
								</div>
								<!-- end: gallery -->

							</div>
							<!--end: profile-about  -->
							<video  id= <%=json.id%> onclick="reply_click_video(this.id); return false;" class="lazy"  style ="width : 100%; height:auto; margin-top:2% " loop playsinline muted autoplay>
								<!-- <source data-src="one-does-not-simply.webm" type="video/webm"> -->
								<source src="/video/<%=json.id%>-preview.mp4" type="video/mp4">
							  </video>
							<!-- start: profile-reviews -->
							<div class="col-sm-12 col-md-12 block-default profile-comments t-left">

								<div class="block-title">reviews (<%=json.reviews.length%>)
									<div class="rating-box">
										<div class="rating rating-3_5"></div>
									</div>
								</div>
								<% json.reviews.forEach(function(entry) {%>

								<div class="comment wow fadeInLeft">
									<h3><%=entry.name%></h3>
									<p class="simple-text"><%=entry.feedback%></p>
									<div class="rating-box">
										<div class="rating rating-3"></div>
									</div>
								</div>

								<!-- <div class="comment wow fadeInLeft">
										<h3>Имя</h3>
										<p class="simple-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellat nemo debitis reiciendis dolorum aliquid, consectetur nostrum! Quis repudiandae, beatae id quaerat ullam iusto sint facere repellendus, laudantium ipsa suscipit.</p>
										<div class="rating-box">
											<div class="rating rating-4"></div>
										</div>
									</div> -->
								<%});%>

								<a href="#modal-1" class="main-button-2 open-modal">Add a review</a>

							</div>
							<!-- end: profile-reviews -->

						</div>
					</div>
					<!-- end: left side -->

					<!-- start: right side -->
					<!-- <div class="col-sm-12 col-lg-4 chat-container t-left">
						<div class="chat-iframe">
							<iframe src="http://sandbox.mlight.pp.ua/vipMollyMain/chat.html" frameborder="0"></iframe>
						</div>
					</div> -->
				
					<!-- end: right side -->


				</div>
				<!-- end: main -->


				<!-- start: similar-models -->
				<div class="col-sm-12 col-md-12 block-default similar-models t-center">
					<p class="block-title">Similar Models</p>
					<!-- start: gallery -->
					<div class="col-md-12">
						<div class="row">
							<% json.similarGirls.forEach(function(e) {%>

							<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
								<div class="gallery-icon">
									<img src="/uploads/<%=json.id%>/profile/<%=e.id%>-profile.jpg" alt="img">
									<div class="gallery-caption">
										<strong><%=e.name%></strong>
										<p><%=e.years%> years</p>
										<p><%=e.hobby%></p>
										<a href="#" id=<%=e.id%> onclick="reply_click(this.id); return false;"
											class="main-button">View Profile</a>
									</div>
								</div>
							</div>
							<%});%>				
						</div>
					</div>
					<!-- end: gallery -->
					<a href="#" class="main-button-2">All Models</a>
				</div>
				<!-- end: similar-models -->



			</div>
		</div>
	</section>
	<%- include('footer.ejs') %>
	<div id="modal-1" class="modal-window mfp-hide">
		<button title="Close (Esc)" type="button" class="mfp-close">×</button>
		<h1 class="c-red t-upper">Add a review</h1>
	
		<form class="comment-form" id="form" method="POST">
			<div class="form-group t-left">
				<p>Name <span class="c-red">*</span></p>
				<input type="text" id="name" class="form-control" data-validation="required"
					data-validation-error-msg="Required field">
			</div>
			<div class="form-group t-left">
				<p>E-mail <span class="c-red">*</span> <span class="prompt">(will not be published)</span></p>
				<input type="email" id="email" class="form-control" data-validation="email"
					data-validation-error-msg="Required field">
			</div>
			<div class="form-group t-left">
				<p>Rating</p>
				<div class="rating-box">
					<div class="rating"></div>
					<div class="masks">
						<div onclick="star('1star')" class="rating-mask item-1"></div>
						<div onclick="star('2star')" class="rating-mask item-2"></div>
						<div onclick="star('3star')" class="rating-mask item-3"></div>
						<div onclick="star('4star')" class="rating-mask item-4"></div>
						<div onclick="star('5star')" class="rating-mask item-5"></div>
						<div id="stars" style="display: none;">sas</div>
						<div id="girlID" style="display: none;"><%=json.id%> </div>
					</div>
				</div>
			</div>
			<div class="form-group t-left">
				<p>Feedback</p>
				<textarea class="form-control" id="feedback" rows="10" data-validation="required"
					data-validation-error-msg="Required field"></textarea>
			</div>
			<div class="form-group t-center">
				<button type="submit" class="main-button-2">Submit</button>
			</div>
		</form>
	
	</div>
	<script>

		document.getElementById('form').onsubmit = function (event) {
			event.preventDefault() // prevent form from posting without JS
			var xhttp = new XMLHttpRequest(); // create new AJAX request
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					// document.getElementById("status").innerHTML = 'sent'+this.responseText+ xhttp.status;
				} else {
					//  document.getElementById("status").innerHTML = xhttp.status ;
				}
			}
			xhttp.open("POST", "http://localhost:3000/review")
			var formData = new FormData();

			formData.append('name', document.getElementById('name').value);
			formData.append('email', document.getElementById('email').value);
			formData.append('stars', document.getElementById('stars').innerHTML);
			formData.append('feedback', document.getElementById('feedback').value);
			formData.append('girlID', document.getElementById('girlID').innerHTML);

			xhttp.send(formData);

		}
		function star(divID) {
			let stars = document.getElementById("stars");
			if (divID == "1star")
				stars.innerHTML = 1;
			if (divID == "2star")
				stars.innerHTML = 2;
			if (divID == "3star")
				stars.innerHTML = 3;
			if (divID == "4star")
				stars.innerHTML = 4;
			if (divID == "5star")
				stars.innerHTML = 5;
		}

		function reply_click(clicked_id) {

			location.assign("http://localhost:3000/all/" + clicked_id);
			//location.href = "185.158.2.13/all/" + clicked_id
		}



var vid = document.getElementsByTagName("video");
[].forEach.call(vid, function (item) {
	item.addEventListener('mouseover', hoverVideo, false);
	item.addEventListener('mouseout', hideVideo, false);
});

function hoverVideo(e)
{	
    this.pause();
     this.currentTime = 0;
     this.play();
}
function hideVideo(e)
{
	this.pause();
}
function reply_click_video(clicked_id)
  {
    const Url = "http://185.158.2.13/allvideos/"; 
    location.assign(Url+clicked_id);  
  }
	</script>
</body>

</html>