<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<title>Squitter</title>
	<!-- SEO -->
  	<meta name="author" content="">
  	<meta name="description" content="">
  	<meta name="keywords" content="">

	<!-- Bootstrap v3.3.4 Grid Styles -->
	<style>html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#69043b;}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}</style>

	<!-- Header CSS (First Sections of Website: paste after release from _header.min.css here) -->
	<style>.contacts li,.lang li a{background-position:left center}.contacts li,.lang li,.social li{display:inline-block}.main-menu li a,.social a{-webkit-transition:all .5s linear}.header-content,.top-line{background-size:cover;background-repeat:no-repeat}.logo-img img,.menu-container .container{position:relative}.contacts li,.header-content,.lang li a,.owl-carousel .owl-controls .owl-nav .owl-next,.top-line{background-repeat:no-repeat}.lang li{list-style:none}.lang li a{padding:5px 0 5px 35px;margin-left:30px;font-size:18px;color:#000;opacity:.4}.lang li.active a{opacity:1}.c-red{color:#e7282d}.eng a{background-image:url(img/eng.png)}.rus a{background-image:url(img/rus.png)}.top-line{padding:15px 0;background-image:url(img/top-line-bg.jpg)}.top-line .contacts{margin:10px 0 10px 75px}.top-line .contacts .phone{font-size:30px;font-family:sans-serif}.contacts li{font-size:18px;padding:10px 0 10px 50px}.whats-app-red{background-image:url(img/whats-app-red.png)}.viber-red{background-image:url(img/viber-red.png)}.mail{background-image:url(img/mail.png)}.phone{background-image:url(img/phone.png)}.whats-app{background-image:url(img/whats-app.png);color:#5bb341}.viber{background-image:url(img/viber.png);color:#78549b}.social a{width:35px;height:35px;-webkit-border-radius:50%;border-radius:50%;display:block;text-align:center;color:#fff;padding-top:3px;font-size:22px;background-color:#e7282d;margin-right:7px;transition:all .5s linear}.social a:focus,.social a:hover{background-color:#ab0f0f}.logo-img img{top:36px}.logo-title a{margin:35px 0;display:block}.logo-title img{max-width:100%}.logo-title h2{color:#000;font-family:sans-serif}.logo-title h2 span{font-family:sans-serif}.menu-container{background-color:#e7282d;height:62px}.main-menu li{float:left;font-size:18px}.main-menu li a{color:#fff;padding:18px 38px;display:block;transition:all .5s linear}.main-menu li a:focus,.main-menu li a:hover{background-color:#ab0f0f}.header-content{background-image:url(img/header-bg.jpg);padding:40px 0}.header-content .contacts li{display:block;font-size:24px;color:#000;margin-bottom:10px}.chat-iframe iframe{height:400px;width:300px}.chat-full-width iframe{width:100%}.owl-carousel .item{height:400px;overflow:hidden}.owl-carousel .owl-controls .owl-dots{bottom:-25px;margin:0 auto;text-align:center}.owl-carousel .owl-controls .owl-dots .owl-dot{width:20px;height:20px;background-color:#eeb3b5;-webkit-border-radius:50%;border-radius:50%;display:inline-block;margin-right:20px}.owl-carousel .owl-controls .owl-dots .owl-dot:last-child{margin-right:0}.owl-carousel .owl-controls .owl-dots .owl-dot.active{background-color:#e7282d}.owl-carousel .owl-controls .owl-nav .owl-prev{background-image:url(img/arrow-left.png);background-repeat:no-repeat;background-position:center;left:0}.owl-carousel .owl-controls .owl-nav .owl-next{background-image:url(img/arrow-right.png);background-position:center;right:0}.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{width:65px;height:80px;background-color:transparent;top:50%;margin-top:-40px;-webkit-transition:all .5s linear;transition:all .5s linear}.owl-carousel .owl-controls .owl-nav .owl-next:hover,.owl-carousel .owl-controls .owl-nav .owl-prev:hover{background-color:#e7282d}.breadcrumb{font-size:14px;margin-bottom:40px}.breadcrumb li{display:inline-block;color:#71696c}.breadcrumb li.active{color:#000}.breadcrumb li+li:before{content:">";padding:0 5px;color:#71696c}.about-us{font-size:18px;color:#28252c;margin-top:15px;font-family:"Times New Roman",sans-serif;position:relative}.about-us:after{content:"";background-image:url(img/author.png);width:131px;height:52px;position:absolute;bottom:-30px;right:0}.toggle-menu{margin:20px 5px;font-size:18px;text-transform:uppercase;color:#fff}.toggle-menu img{margin-right:12px}.toggle-menu:focus,.toggle-menu:hover{color:#fff}</style>

	<!-- Fonts Loader from _fonts.css (HTML5 LocalStorage) -->
	<!-- <script>!function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="css/_fonts.min.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();</script> -->

	<!-- Load CSS Compilled without JS -->
	<!-- <noscript>  
		<link rel="stylesheet" href="/css/_main.min.css">
		<link rel="stylesheet" href="/css/_header.min.css">  
	</noscript>

		<link rel="stylesheet" href="/css/_header.min.css"> 

		 <link rel="stylesheet" href="/css/_main.min.css">  -->

	<!-- <link rel="stylesheet" href="/css/timeline.css">
	<link rel="stylesheet" href="/css/modal.css"> -->
	<link rel="stylesheet" href="/css/story_style.css">

	<link rel="stylesheet" href="/zuck/dist/zuck.css">



    <!-- lib styles -->
    <!-- <link rel="stylesheet" href="/zuck/dist/zuck.min.css"> -->
    
    <!-- lib skins -->
    <link rel="stylesheet" href="/css/snapgram.css">
    <!-- <link rel="stylesheet" href="dist/skins/vemdezap.css">
    <link rel="stylesheet" href="dist/skins/facesnap.css">
    <link rel="stylesheet" href="dist/skins/snapssenger.css"> -->
	

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="/img/favicon/Vipmolly-favicon.ico" type="image/x-icon" sizes="16x16">
	<link rel="stylesheet" type="text/css" media="screen" href="/autocomplete/css/autoComplete.css">

</head>
<style>
#citySearch{
	float: right;
	padding: 6px; 
	margin-top: 10px;
	/*margin-top: 30px; */
	margin-right: 0px;
	border: none;
	font-size: 20px;
	border: 1px solid #E7282D;
	width: auto;
	height: 100%;
	
}
@media screen and (max-width: 640px) {
	#citySearch{
	float: none;
    display: block;
    text-align: left;
    width: auto;
    margin: 0;
    padding: 17px;
	}	
}
</style>
<style>
* {
  box-sizing: border-box;
}



/*the container must be positioned relative:*/
.autocomplete {
  position: absolute;
  display: inline-block;
} 

.autocomplete-items {
   /* position: absolute;  */
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 10000;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  /* background-color: #fff;  */
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
<body class="main-theme">
	
	<header class="header">
		<!-- start: top-line -->
		<div class="top-line">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-4 logo-img t-center">
						<a href="#"><img src="/img/logo-girl.png" alt="alt"></a>
					</div> -->

					<!-- <div class="col-sm-6 col-md-4 logo-title t-center wow fadeInDown">
						<a href="#"><img src="/img/logo-sqitter2.png" alt="logo"></a>
						<h2><span class="c-red">24 hours</span> a day</h2>
						<h2><span class="c-red">7 day</span> a week</h2>
					</div> -->
					<div class = "autoComplete_wrapper"id="autocomplete" style = "float: left;">
						<input id="autoComplete" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
						autocapitalize="off" maxlength="2048" tabindex="1" >					
					</div>
					<div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-4 contacts-list no-position">
						<div class="row">
							
							<div class="lang t-upper t-right wow fadeInRight" data-wow-delay="0" style="float: right;">
								<ul>
									<li class="eng active"><a href="#">eng</a></li>
									<li class="rus "><a href="#">it</a></li>
								</ul>
							</div>
							<!-- <div class="contacts t-left">
								<ul>
									<li class="phone c-red wow fadeInRight" data-wow-delay=".2s">+34 067 823 97 77</li>
									<li class="whats-app wow fadeInRight" data-wow-delay=".4s">WhatsApp: +34 067 823 97 77</li>
									<li class="viber wow fadeInRight" data-wow-delay=".6s">Viber: +34 095 815 28 52</li>
								</ul>
							</div> -->
							<!-- <div class="social t-right wow fadeInRight" data-wow-delay=".8s">
								<ul>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-at" aria-hidden="true"></i></a></li>
								</ul> -->													
						</div>
					</div>
				</div>
			</div>
			</div>		
		</div>
		<!-- end: top-line -->

		<!-- start: menu-container -->
	
		<div class="menu-container">
			<div class="container">
			
				<a href="#" class="toggle-menu visible-xs visible-sm hidden-md hidden-lg"><img src="/img/menu.png" alt="img"> </a>
								

				<ul class="main-menu t-upper">
				
					<li><a href="http://185.158.2.13">Home</a></li>
					<li><a href="#">Models</a></li>
					<li><a href="#">About</a></li>
					<li><a href="http://185.158.2.13/allvideos">Video</a></li>
					<li><a href="http://185.158.2.13/blog">Blog</a></li>
					<!-- <li><a href="#">Conditions</a></li> -->
					<!-- <li><a href="#">Contacts</a></li> -->
			

				</ul>

			
			</div>
		</div>
	</header>
<section class="section1 line">
	<h1 class="t-upper c-red selection">Stories</h1>
	<div class="container">
	<div class="row">
	<div  id="stories" class="storiesWrapper" ></div>	
</div>	
	</div>
</section>
	 <!-- <section class="section1 line">
		<div class="container">
			<div id="stories" ></div>

			<div class="row">
				<h1 class="t-upper c-red">Models</h1>
				<div class="col-md-12" id="galery0">
					<div class="row">
						<% allGirls.forEach(function(entry) {%>
						<div class="col-sm-4 col-md-4 col-lg-3 wow zoomIn" data-wow-delay="0">
							<div class="gallery-icon">
								<img src="uploads/<%=entry.id%>-profile.jpg" alt="img">
								<div class="gallery-caption">
									<strong><%=entry.name%></strong>
									<p><%=entry.years%> years</p>
									<p><%=entry.hobby%></p>
									<a href="#" id= <%=entry.id%> onclick="reply_click(this.id); return false;"  class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						<%});%>						

					</div>

					
				</div>
			
	
				<div class="col-md-12 pagination">
					<ul>
						<li><a href="#">&laquo;</a></li>
						<li id="l1"><a onclick="show1(1);hide(0);showActive(1);hideActive(2); return false;"  href="#">1</a></li>
						<li id = "l2"  onclick="show1(0);hide(1);showActive(2);hideActive(1); return false;"  class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>


			</div>
		</div>
	</section>  -->

	<section class="section2 line">
		<div class="container">
			<div class="row">
				<h1 class="t-upper">Blog</h1>

				<!-- start: article-container -->
				<div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0 articles-container">
					<div class="row">
                        <% allGirls.allBlogs.forEach(function(entry) {%>
						<div class="col-sm-4 col-md-4 col-lg-5ths article wow zoomIn" data-wow-delay="0">					
							<a href="http://185.158.2.13/blog/<%=entry.id%>">								
								<img src="blogs/<%=entry.id%>-preview.jpg" alt="">
								<h3><%=entry.name%></h3>
								<p style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 7;-webkit-box-orient: vertical;">
								<%=entry.about%></p>
							</a>
						</div>
                        <%});%> 
					</div>
				</div>
				<!-- end: article-container -->				
			</div>
		</div>
	</section>

	<section class="section3 line">
		<div class="container">
			<div class="row">
				<h1 class="t-upper c-red">NEW GIRLS</h1>

				<!-- start: new girls-->
				<div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
					<div class="row">

							<% allGirls.similarGirls.forEach(function(entry) {%>

						<div class="col-sm-6 col-md-6 col-lg-3 wow zoomIn" data-wow-delay="0s">
							<div class="gallery-icon">
								<img src="/uploads/<%=entry.id%>/profile/<%=entry.id%>-profile.jpg" alt="img">
								<div class="gallery-caption">
									<strong><%=entry.name%> (1074)</strong>
									<p><%=entry.years%> years</p>
									<p><%=entry.hobby%></p>
									<a href="http://185.158.2.13/all/<%=entry.id%>" class="main-button">View Profile</a>
								</div>
							</div>
						</div>
						<%});%> 												
					</div>
				</div>
				<!-- end: new girls -->

			</div>
		</div>
	</section>

	<section class="section4">
		<div class="container">
			<div class="text-container t-left">
				<h2 class="c-red">Lorem ipsum dolor sit amet, consectetur.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus reprehenderit ratione modi repellendus quo voluptas velit id eos voluptatibus iusto? Aperiam repudiandae, alias reiciendis iusto animi quaerat eveniet provident nihil omnis quisquam laboriosam minus. Laborum quis officiis esse omnis provident eius similique corporis ipsum, doloremque quod iure quam aliquam, qui ea nam repellat laudantium. Optio sint veniam eveniet pariatur cumque voluptatem necessitatibus quam aspernatur omnis amet, eius laboriosam doloribus, velit reiciendis harum itaque quos impedit ea modi incidunt, enim. Vero, deserunt culpa et dolorem fugiat atque sint necessitatibus animi quibusdam, sed consectetur voluptatum aut ex laboriosam eaque ipsum distinctio excepturi illum molestias quidem eveniet nesciunt voluptate omnis. Repudiandae reprehenderit maiores culpa deserunt doloremque impedit dignissimos sunt natus inventore. Quod iusto quos ratione officia, recusandae sit, explicabo, vitae sequi illo atque distinctio eligendi fugit natus molestiae doloremque tempore obcaecati alias, laborum quia ducimus! Laborum fugiat, eum odio consequatur eligendi soluta officiis, eveniet aliquid nulla, praesentium iure harum explicabo mollitia, omnis ipsum culpa cupiditate autem perspiciatis sunt in. Distinctio voluptates ducimus officia, odio optio, laboriosam rerum quasi? Harum libero excepturi, perspiciatis voluptatum laborum praesentium. Quibusdam quo, temporibus molestiae quidem modi blanditiis dolorum, non nihil totam quisquam at dignissimos consequatur? Voluptatem neque beatae culpa quos labore enim rerum, vel vero fugiat commodi iure aliquam aspernatur nulla omnis, temporibus minus ad sunt similique nostrum numquam illo. Unde non temporibus aliquam nam hic aut dignissimos obcaecati eligendi veniam, sunt quam rem, culpa error accusamus totam sit praesentium qui. Dicta magni laborum nam minima, quam voluptatem aspernatur qui in, pariatur magnam sapiente. Accusamus, totam laborum modi ut quos qui, reiciendis obcaecati assumenda inventore aliquid culpa ullam laboriosam esse officia molestiae harum iure unde autem excepturi? Libero animi, perspiciatis beatae deserunt cum tempora. Pariatur sunt laudantium facere ratione aspernatur maxime in esse cupiditate similique placeat necessitatibus expedita suscipit, voluptatibus fugit accusamus vel perferendis nam fuga, consectetur. Quia, repellendus eos ullam voluptas suscipit ipsum voluptatem consectetur, fuga dolor nisi laboriosam sapiente accusantium doloremque illo, nulla consequatur ducimus soluta maiores voluptate perspiciatis ad et a exercitationem. At consequatur sed blanditiis libero, modi ex dolores! Necessitatibus possimus quaerat quasi! Tempore dolores, quae vero corporis, vel illo fugit odit. Error voluptas cum fuga rem saepe! Quisquam adipisci, provident vitae blanditiis non quae veritatis earum cum alias eos quas sapiente, distinctio reprehenderit minima aut dolores at corrupti quidem quia sunt dicta iure aperiam vel ullam! Tempore ducimus, eveniet quam facere eos sequi assumenda dolore dolor. Quos in perferendis officiis iure error porro quam ea, libero modi repellendus, amet, voluptas non omnis odio asperiores accusamus incidunt voluptates, illo magni necessitatibus aliquid. Soluta neque iure quaerat molestiae omnis at veritatis a tenetur itaque aut minima ipsam qui, cum quibusdam reiciendis accusamus incidunt iste sed eius placeat modi doloremque repudiandae. Dolorem ut nobis nihil impedit fugiat aliquid quibusdam vero unde maxime magnam alias vitae nesciunt explicabo saepe, suscipit atque odit eos aliquam ea qui excepturi voluptate dolore. Soluta enim voluptatibus non, omnis consequatur unde, ipsam vel itaque eveniet quod debitis sit fugit magni impedit. Perspiciatis, quaerat, iure. Non sunt laborum culpa! Eveniet tempora inventore quaerat at, eius, optio eaque mollitia ullam ipsum minus provident, natus aliquid iste quisquam voluptatem atque illo ab facilis sint. Esse officiis aliquam sapiente enim perspiciatis id nam quasi temporibus explicabo. Iste asperiores nobis tempora qui sequi natus neque maxime in consequatur? Alias asperiores maiores ut possimus velit, quaerat ad veniam quos voluptates vitae sapiente dolore, at dolorum eos totam deleniti, reiciendis facilis non quam impedit! In deserunt suscipit possimus hic provident, exercitationem, dignissimos recusandae quae iusto magni iste, quas officiis ducimus dolore. Dolor distinctio quibusdam, consectetur unde illo nesciunt. Rem sit adipisci animi non dolores mollitia rerum temporibus accusantium at, ullam, quisquam quae odio quam numquam voluptas deserunt accusamus sint inventore ipsa distinctio molestias laudantium libero architecto dolorum modi. Architecto eius fugit voluptatum amet voluptatem dolore ullam neque, fugiat consequatur, officiis eaque suscipit repellendus? Quisquam eaque blanditiis sed nostrum iusto totam, laboriosam enim vel fuga minus aliquid quia dolor, eum, numquam ullam eius voluptatibus distinctio rerum eveniet vitae provident error in. Quis iste dolorem sed culpa beatae suscipit dicta voluptatum corporis, temporibus incidunt! Quos quasi maiores, recusandae facilis porro, vero veritatis deleniti similique quam laboriosam omnis eos assumenda ullam illum!</p>
			</div>
		</div>
	</section>
	<script src="/zuck/dist/zuck.min.js"></script>
	<script src="/zuck/demo/script.js"></script>
	<script src="/autocomplete/js/autoComplete.js"></script>
	<script>
		const girls = <%- JSON.stringify(allGirls) %>;
		let allGirlsStory = allStories();	
		var search = allGirlsStory;
	
		function drawStories(searchResult){
		var currentSkin = getCurrentSkin();
	    var storiesZuck = new Zuck('stories', {
		backNative: false,
		openEffect:true,
		previousTap: true,
		skin: currentSkin['name'],
		autoFullScreen: true,
		avatars: currentSkin['params']['avatars'],
		paginationArrows: currentSkin['params']['paginationArrows'],
		list: currentSkin['params']['list'],
		cubeEffect: currentSkin['params']['cubeEffect'],
		localStorage: true,
		stories: searchResult	
	    });		
	    } 
	 // story of one girl
		function girlStorie(girl){
			var girlStory =[];
			girl.storiePath.forEach(element => {			   		  
			if (element.trim().slice(-3)=="jpg" || element.trim().slice(-3)=="png" || element.trim().slice(-4)=="jpeg" ){
			 console.log("jpg");		
			//stories.update(itemImage );
			girlStory.push(["a", "photo",3 , "/uploads/"+girl.id+"/storie/"+element, '','',false,  false, timestamp()]);
		    }
		     if (element.trim().slice(-3)=="mp4" || element.trim().slice(-3)=="MOV"){
			 console.log("video");			
		    girlStory.push(["a", "video",0 , "/uploads/"+girl.id+"/storie/"+element, '','',false,  false, timestamp()]);
		    }
		});
		 return girlStory;
	    }   
	    //story of all girls
		function allStories(){
			var stArr = [];
			girls.forEach(element => {
			let items = girlStorie(element);
			stArr.push( Zuck.buildTimelineItem(		
				element.id,
				"/uploads/"+ element.id+"/profile/"+element.id+"-profile-detail.jpg",
				element.name,
				"https://ramon.codes",
				timestamp(),
				items
			));
		   });
		 return stArr;
	   }	
	    function girlStorieByCity(city){
		//    debugger
		   let cityStories = [];
		   for (let i = 0; i < girls.length; i++) {
			if(girls[i].city.toUpperCase()== city.toUpperCase()){				
			let items = girlStorie(girls[i]);
			cityStories.push( Zuck.buildTimelineItem(		
				girls[i].id,
				"/uploads/"+ girls[i].id+"/profile/"+girls[i].id+"-profile-detail.jpg",
				girls[i].name,
				"https://ramon.codes",
				timestamp(),
				items
			));
			//	cityStories.push(girls[i]);
			}
		   }
		   return cityStories;
	
	   }
	    document.getElementById('autoComplete').addEventListener('input',(e)=> {
			if(e.target.value ==""){
				document.querySelector(".selection").innerHTML = "Stories";
				drawStories(allGirlsStory);
			}},false);
	    window.addEventListener('load',drawStories(allGirlsStory),false);


//*****************************AUTOCOMPLETE***************************
document.querySelector("#autoComplete").addEventListener("init", function (event) {
  console.log(event);
});

// The autoComplete.js Engine instance creator
const autoCompleteJS = new autoComplete({
  name: "food & drinks",
  selector: "#autoComplete",
  observer: false,
  data: {
    src: async () => {
      // Loading placeholder text
      document.querySelector("#autoComplete").setAttribute("placeholder", "Loading...");

      if (!JSON.parse(localStorage.getItem("acData"))) {
        // Fetch External Data Source
        const source = await fetch("./db/generic.json");
        const data = await source.json();
        // Saves the fetched data into local storage
        localStorage.setItem("acData", JSON.stringify(data));
        // Retrieve the cached data from local storage
        const localData = JSON.parse(localStorage.getItem("acData"));
        // Post Loading placeholder text
        document.querySelector("#autoComplete").setAttribute("placeholder", autoCompleteJS.placeHolder);
        // Returns Fetched data
        return localData;
      }

      // Post Loading placeholder text
      document.querySelector("#autoComplete").setAttribute("placeholder", autoCompleteJS.placeHolder);

      return JSON.parse(localStorage.getItem("acData"));
    },
    key: ["state", "cities"],
    cache: true,
    results: (list) => {
      // Filter duplicates
      const filteredResults = Array.from(new Set(list.map((value) => value.match))).map((food) => {
        return list.find((value) => value.match === food);
      });

      return filteredResults;
    },
  },
  searchEngine: "strict",
  placeHolder: "Search for Country & Cities!",
  maxResults: 5,
  sort: (a, b) => {
    if (a.match < b.match) return -1;
    if (a.match > b.match) return 1;
    return 0;
  },
  highlight: true,
  debounce: 100,
  threshold: 1,
  trigger: {
    event: ["input", "focus"],
  },
  resultItem: {
    content: (data, element) => {
      // Modify Results Item Style
      element.style = "display: flex; justify-content: space-between;";
      // Modify Results Item Content
      element.innerHTML = `
        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
            ${data.match}
        </span>
        <span style="display: flex; align-items: center; font-size: 13px; font-weight: 100; text-transform: uppercase; color: rgba(0,0,0,.2);">
            ${data.key}
        </span>`;
    },
  },
  noResults: (dataFeedback, generateList) => {
	document.getElementById("stories").innerHTML = "";

    // Generate autoComplete List
	generateList(autoCompleteJS, dataFeedback, dataFeedback.results);
	document.querySelector(".selection").innerHTML = "no results";

    // No Results List Item
    const result = document.createElement("li");
    result.setAttribute("class", "no_result");
    result.setAttribute("tabindex", "1");
    result.innerHTML = `<span style="display: flex; align-items: center; font-weight: 100; color: rgb(231,40,45);">Found No Results for "${dataFeedback.query}"</span>`;
    document.querySelector(`#${autoCompleteJS.resultsList.idName}`).appendChild(result);
  },
  feedback: (data) => {
    console.log(data);
  },
  onSelection: (feedback) => {
    document.querySelector("#autoComplete").blur();
    // Prepare User's Selected Value
    const selection = feedback.selection.value[feedback.selection.key];
    // Render selected choice to selection div
    document.querySelector(".selection").innerHTML = selection;
    // Replace Input value with the selected value
    document.querySelector("#autoComplete").value = selection;
    // Console log autoComplete data feedback
	console.log(selection);
	document.getElementById("stories").innerHTML = "";

	let gs = girlStorieByCity(selection); 
    drawStories(gs)
},
});

// Toggle results list and other elements
const action = function (action) {
  const github = document.querySelector(".github-corner");
  const title = document.querySelector("h1");
  const mode = document.querySelector(".mode");
  const selection = document.querySelector(".selection");
  const footer = document.querySelector(".footer");

//   if (action === "dim") {
//     github.style.opacity = 1;
//     title.style.opacity = 1;
//     mode.style.opacity = 1;
//     selection.style.opacity = 1;
//     footer.style.opacity = 1;
//   } else {
//     github.style.opacity = 0.1;
//     title.style.opacity = 0.3;
//     mode.style.opacity = 0.2;
//     selection.style.opacity = 0.1;
//     footer.style.opacity = 0.1;
//   }
};

// Toggle event for search input
// showing & hiding results list onfocus/blur
["focus", "blur"].forEach(function (eventType) {
  document.querySelector("#autoComplete").addEventListener(eventType, function () {
    // Hide results list & show other elements
    if (eventType === "blur") {
      action("dim");
    } else if (eventType === "focus") {
      // Show results list & hide other elements
      action("light");
    }
  });
});
	</script>
